<style media="screen">
  body{
    margin: 0;
  }
  header{
    border-bottom: 1px solid grey;
    padding-left: 50px;
    float: none;
  }
  nav{
    border-right: 1px solid grey;
    width: 200px;
    height: 700px;
    float: left;
  }
  div butt{
    padding-left: 20px;
    float: right;
  }
  div article{
    padding-left: 20px;
    float: left;
    width: 600px;
  }
</style>
